h1{font-family: 'Montserrat', sans-serif; font-weight: 500; 
position: absolute; font-size: 5rem; top: 25px; left: 30px; line-height: 1.1em;

animation-name: h1;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;}

h2{font-family: 'Montserrat', sans-serif; font-weight: 500; 
position: absolute; font-size: 5rem; top: 110px; left: 30px; line-height: 1.1em;

animation-name: h2;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;}



p{font-family: 'Noto Sans KR', sans-serif; font-weight: 400; 
font-size: 0.8rem; position: absolute; top: 240px; left: 30px;}

.p-2{font-family: 'Noto Sans KR', sans-serif; font-weight: 400; 
font-size: 0.8rem; position: absolute; top: 360px; left: 30px;}

.bk{width: 100%; height: 100%;  
	position: absolute; top: 0px; bottom: 0px;}

@keyframes h1{
	0%{top: 35px; opacity: 100%;}
	50%{top: 25px; opacity: 55%;}
	100%{top: 35px; opacity: 100%;}
}

@keyframes h2{
	0%{top: 120px; opacity: 100%;}
	50%{top: 110px; opacity: 55%;}
	100%{top: 120px; opacity: 100%;}
}
